.venv/
.venv312/
__pycache__/
*.pyc
.idea/workspace.xml
ffmpeg-8.1-essentials_build/
*.mp3
*.wav
*.m4a
*.opus
*.mp4
*.mov
*.mkv
*.avi
*.docx
exports/
build/
dist/
*.spec
.idea/
ffmpeg-8.1.1-essentials_build/
ffmpeg-*/
hungingfacekey.txt
Transcriber.py
